# yarn 全局包安装路径（项目内）
global-folder "./.local/yarn/global"
# yarn 缓存路径（项目内）
cache-folder "./.local/yarn/cache"
# yarn 离线缓存路径（项目内）
yarn-offline-cache "./.local/yarn/offline-cache"

registry "https://registry.npmmirror.com"

network-concurrency 20